* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anime-display {
  position: relative;
  padding: 0 1rem;
  border: 10px solid white;
  width: 14rem;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: inset 0 -70px 90px black;
}

.anime-display img {
  width: 100%;
  height: 100%;
}

.score {
  position: absolute;
  right: 5px;
  top: 5px;
}

@media (max-width: 375px) {
  .anime-display {
    width: 10rem;
    height: 15rem;
    font-size: 0.9rem;
  }
}
